/*----------- apply a natural box layout model to all elements --------------*/
* { 
	box-sizing: border-box;

}
/*----------- BODY --------------*/

body {
  font-size: 16px;
  font-family: Neue Haas Grotesk Text Pro, sans-serif;
}


header, nav, main, footer { 
  max-width: 100%; 
}
h1, h2, h3 {
	font-family: 'Volkhov', serif;
}

/*----------- HEADER --------------*/
header {
	    display: flex;
    align-items: flex-end;
}
header .logo img {
	    margin-right: 1em;
}
header h1 {
	font-size: 4em;
}

header .subheading {
	margin: 0;
}
header figure.logo {
    display: flex;
	align-items: center;

    margin: 0;
}

/*----------- NAVIGATION --------------*/
nav {
	background-color: #A7D2CB;
}
nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color: #555;
}
nav ul {
	display: flex;
	flex-direction: row;	
	align-items: center;
	height: 50px;	
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav ul li {
margin-right: 1em;	
	
}
nav ul li a {
	border-right: 1px solid rgba(0,0,0,0.3);
	padding-right: 1em;
	text-decoration: none;
	color: #000;

}

nav ul li:last-child {
	border: none;
}

nav ul li.active a {}
nav ul li a:hover {}

 @media screen and (max-width: 600px) {
  .navigation a:{display: none;}
  .navigation a.ham {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive .ham {
    position: absolute;
    right: 0;
    top: 0;
  }

/*----------- MAIN --------------*/
main {
margin: 0px 100px 0px;
}

main h2 {}
main figure.fimg {
	margin: 0;
}

.weather-summary {
	display: flex;
}
.current {
	order: 1;
}
.highlow{
	order: 2;
}
.conditions {
	order: 3;
	align-items: flex-end;
}

main article figure img {
	float: left;
	margin-right: 2em; 
	
}

/*----------- FOOTER --------------*/
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #A7D2CB
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}