* { 
	box-sizing: border-box;

}
body {
  font-size: 16px;
  font-family: Neue Haas Grotesk Text Pro, sans-serif;
}

header, nav, main, footer { 
  max-width: 100%; 
}
h1, h2, h3 {
	font-family: Bodoni, serif;
}
header {
	margin: 0px 100px 0px;
}
header h1 {
		font-size: 4em;
}
header img {
	float: left;
	width: 4%;
	margin-right: 2em;
	
}
header .subheading {
	margin: -2.5em 7em 0em;
}

nav {}
nav button {}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	background-color: #A7D2CB;
	list-style-type: none;
}
nav ul li {
border-right: 1px solid #bbb;
}
nav ul li a {
	
	text-decoration: none
}
nav ul li.active a {}
nav ul li a:hover {}

main {
margin: 0px 100px 0px;
}
main h2 {}
main figure {}
main picture img {
	float: left;
	margin-right: 2em; 
	width: 25%;
}

main article img {
	float: left;
	margin-right: 2em; 
	width: 10%;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #A7D2CB
}