body {
  font-size: 16px;
  font-family: Neue Haas Grotesk Text Pro, sans-serif;
}

header, nav, main, footer { 
  max-width: 100%; 
}
h1, h2, h3 {
	font-family: Bodoni 72 Oldstyle, serif;
}
header {
	display: flex;
	align-items: center;
	margin: 5px 30px 5px;
}
header h1 {
	font-family: Bodoni 72 Oldstyle, serif;
	font-size: 4em;
}
header img {
	width: 5%;
	padding: 5px;
}
header .subheading {}

nav {}
nav button {}
nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	background-color: #A7D2CB;
	list-style-type: none;
}
nav ul li {

}
nav ul li a {
	
	text-decoration: none
}
nav ul li.active a {}
nav ul li a:hover {}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

footer {}