/*----------- applied to multiple areas --------------*/
* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Muli, sans-serif;
}

h1, h2 {
	font-family: Vollkorn, serif;
	color: #D4453B;
}

h1 {
	font-size: 3em;	
}

h2 {
	font-size: 1.75em;
}

h3 {
	color: #5E9683;
}

header, nav, footer { 
  max-width: 100%; 
}

main {
	max-width: 100%;
}

/*----------- HEADER --------------*/
header {
	display: flex;
	align-items: center;	
}

/*----------- NAVIGATION --------------*/
nav {
	background-color: #5E9683;
	border-bottom: .25em solid #D4453B;
}

nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style-type: none;
	padding-top: 1em;
}

nav ul li {
	color: #fff;
}

nav ul li a {
	text-decoration: none;
}

nav ul li.active a {
	color: #D4453B;
}

nav ul li a:hover {
	background-color: #FCEBE2;
	color: #5E9683;
}

/*----------- MAIN --------------*/


main > * { 
	margin: 0;
}

/*----------- MAIN/ABOUT --------------*/
.about {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2em 8em 8em;
	padding: 2em 0 2em;
}

.about-h {
	flex: 100%;
}
.about-p {
	flex: 30%;
	padding-right: 3em;
}

.about-img {
	align-self: center;
}

.about-shop {
	flex: 30%;
	padding: 0 3em 0;

}

.about-tours {
	display: flex;
	flex-flow: row wrap;
	margin: 8em;
}

.about-tours h2 {
	flex: 100%;
}

.about-tours-lake {
	flex: 40%;
	padding-right: 10%;
}

.about-tours-trail {
	flex: 40%;
}

iframe {
	width: 600px;
	height: 450px;
}


/*----------- MAIN/BUTTON --------------*/
.button {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 4em 0 4em;
	background-color: #E3E9EF;
	margin-bottom: 2em;

}
.button-h {
	flex: 100%;
	margin: 0 8em 1em;
}

.button div:hover {
	box-shadow: 10px 10px 20px gray;
}

.button li:hover {
	box-shadow: 10px 10px 20px gray;
}

.subList {
	
	list-style-type: none;
}

.subList ul {
	display: none;
	width: 300px;
}

/*----------- MAIN/TOURS --------------*/
.tours {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-top: 3em;
	margin: 8em;
}

.tours-h {
	flex: 100%;
}

.tours-p {
	flex: 100%;
	font-size: 20px;
	font-weight: bold;
	margin-top: -.5em;
}

.tours div {
	flex: 15%;
	padding-bottom: 4em;
}

.tours img {
	align-self: flex-start;
}

/*----------- MAIN/FORM --------------*/
.form {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding-top: 3em;
	margin: 8em;
}

.form-f {
	display: flex;
	flex-flow: column nowrap;	
}

label {
	padding: 1em 0 1em;
}

/*----------- MAIN/Table --------------*/
table { 
	box-shadow: 5px 10px 18px #628ca6;
	text-align: center;
 }

 table, th, td {
    border: 1.5px solid #cecece;
    border-collapse: collapse;
    padding: 10px;
}

thead tr th {
	background-color: #D4453B;
	color: white;
	font-size: 3em;
} 
table, tbody, th {
    color: black;
    background-color: #FCEBE2;
}

table, tbody, td {
    color: black;
    background-color: #E3E9EF;
}

tfoot tr td { 
	background-color: #D4453B;
	color: white;
	font-size: 12px; 
}

/*----------- FOOTER --------------*/
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: #5E9683;
	border-top: .25em solid #D4453B;
	padding: 2em;
	font-size: 10px;
}

footer h5 {
	font-size: 13em;
}


